FastFoodFeel.pk ChatBot.json
{
  "name": "FastFoodFeel.pk ChatBot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-mLAomO83JM7JbvHP1kDPmTMkT7B_xcc",
          "mode": "list",
          "cachedResultName": "FastFood",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-mLAomO83JM7JbvHP1kDPmTMkT7B_xcc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2848,
        -32
      ],
      "id": "8c678ff2-9496-4020-aae8-731b116b9567",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VLcgJ123kwNvS6Ot",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9186d30b-546b-4176-b5a1-ff940061591a",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b02ddcd4-f0fe-47b7-8f0b-964d8c039cfa",
              "name": "version",
              "value": "1",
              "type": "string"
            },
            {
              "id": "5039b652-3ca5-4086-86cc-12c021c3c14e",
              "name": "modified",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "8892371a-8340-4b7e-ae93-5f2227a57a08",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        -32
      ],
      "id": "9c06145b-9db3-45ca-abce-b99d2c2bfa7f",
      "name": "Edit Fields(Set Values)"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2432,
        -32
      ],
      "id": "e0fd5855-d8c4-4c29-bbfa-a7b1527ac038",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VLcgJ123kwNvS6Ot",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a8218dd-c4f6-4265-8965-17c748dd972a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e829c78d-6851-4c74-ae16-a52325789074",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cvs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "181bb7b0-5be1-47fb-b058-706c95615657",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2224,
        -48
      ],
      "id": "865e10f2-bb1c-4516-9b07-db7ed13790b5",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2048,
        176
      ],
      "id": "f3367a51-894a-4ff2-a278-de42379f92b9",
      "name": "Extract from CVS"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2000,
        -48
      ],
      "id": "3242f01b-4777-4da4-83b8-0e24c9c3e4f4",
      "name": "Extract from Text File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "fastfoodfeeldocuments",
          "mode": "list",
          "cachedResultName": "fastfoodfeeldocuments"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1792,
        -48
      ],
      "id": "61581dd8-537d-4d54-bdf3-2a66a52c9b01",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UtmNWfqcowylscUk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1824,
        192
      ],
      "id": "e475121c-a80d-4302-8160-e3fef98017ee",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ue9oJsQ7suGu1ouV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields(Set Values)').item.json.file_id }}"
              },
              {
                "name": "version",
                "value": "={{ $('Edit Fields(Set Values)').item.json.version }}"
              },
              {
                "name": "modified",
                "value": "={{ $('Edit Fields(Set Values)').item.json.modified }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1632,
        192
      ],
      "id": "a777a6cf-6d6c-4d71-8534-4d9500b1769c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2832,
        -928
      ],
      "id": "3128c631-6922-457f-a60b-d20a9b0ef2ac",
      "name": "When chat message received",
      "webhookId": "5c5d7ce3-6757-451c-8284-890421da4874"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "FastFoodFeel Pakistan Customer Service Agent System Instruction\n\nYou are the FastFoodFeel Pakistan FAQ Agent. Your core function is to provide quick, professional, and accurate customer service responses based EXCLUSIVELY on the content of the provided official documents (the FAQ document and the Contact Sheet).\n\nCore Principles\n\nKnowledge Constraint (MANDATORY): Your knowledge is strictly limited to the information contained in the input documents. DO NOT use external knowledge, make up prices, calorie counts, phone numbers, addresses, or ingredients.\n\nPersona & Tone: Be helpful, friendly, and efficient. Maintain a tone that is professional yet accessible.\n\nData Consistency: Ensure all numerical data (prices in PKR, calories in kcal) and specific details (addresses, emails) are copied exactly from the source documents.\n\n#Tool\nproduct_knowledge_base: to retrive knowledge-base\n\nResponse Instructions\n\n1. Answering Successfully (Information is Available)\n\nMenu/Pricing Queries: If the customer asks for prices, calories, or ingredients, pull the relevant row(s) from the 'Detailed Menu and Pricing' section.\n\nExample: \"The Zinger Burger is priced at 600 PKR and has an estimated calorie count of 450 kcal.\"\n\nLocation/Contact Queries: If the customer asks for an address, phone number, or company email, pull the relevant detail(s) from the 'Flagship Branch Contact Details' or 'Key Company Contact Information' sections.\n\nExample: \"The Lahore branch address is 1-D, Gulberg II, Main Boulevard, Lahore, and the telephone number is (042) 111-555-401.\"\n\nGeneral Queries: For questions about Halal status, deals, or social initiatives (Mitao Bhook), synthesize the answer from the relevant FAQ section.\n\n2. Handling Missing Information (Out-of-Scope)\n\nIf a customer asks for a piece of information that is NOT explicitly contained in the provided documents (e.g., the price of an unlisted item, the address of a city not listed, or exact nutritional data beyond the estimates):\n\nAcknowledge the gap clearly and politely.\n\nState that the information is not in your current records.\n\nDirect them to the appropriate contact: Always recommend the customer feedback email for further assistance.\n\nExample response for missing data: \"I apologize, but that specific item/detail is not present in our current frequently asked questions or menu records. For further assistance, please contact us directly at feedback@fastfoodfeel.pk.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2560,
        -928
      ],
      "id": "b2441c34-bb6d-4661-ae5a-f02b939b69a0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2752,
        -688
      ],
      "id": "87156da1-6da6-479e-b843-00fad4276d1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ue9oJsQ7suGu1ouV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -688
      ],
      "id": "b9d0c99a-8ae6-4cfb-8157-79a579763f42",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this vector store stores all the companey's product infomation .",
        "tableName": {
          "__rl": true,
          "value": "fastfoodfeeldocuments",
          "mode": "list",
          "cachedResultName": "fastfoodfeeldocuments"
        },
        "options": {
          "queryName": "match_fastfoodfeeldocuments"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2336,
        -672
      ],
      "id": "67806268-21e0-4d22-871b-2a2df525a8d1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "UtmNWfqcowylscUk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2336,
        -496
      ],
      "id": "1dc51f43-50cb-49a4-93a3-b0c59fc1a80c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ue9oJsQ7suGu1ouV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1936,
        -272
      ],
      "id": "d0403e63-d38c-4592-89e7-617b426b0688",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "content": "## Document Ingestion Pipeline (Data Workflow)\nThis hourly, automated workflow watches a Google Drive folder for new company documents (FAQ, Menu, etc.).\n\nIt downloads, converts, and extracts the text content from these files (e.g., Google Docs, PDFs).\n\nFinally, it converts the extracted text into searchable vectors and updates the fastfoodfeeldocuments knowledge base in Supabase.",
        "height": 672,
        "width": 1888,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3264,
        -320
      ],
      "typeVersion": 1,
      "id": "09292058-98dc-4f79-98e3-ccc12ac08465",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Customer Chat Agent (Live Service Workflow)\nThis workflow is instantly triggered when a customer sends a chat message to the FastFoodFeel.pk bot.\n\nAn AI Agent uses the customer's query, conversational memory, and the powerful product_knowledge_base tool to find factual answers.\n\nThe system utilizes the Google Gemini Chat Model and its strict system prompt to ensure responses are accurate and based only on the ingested company documents.",
        "height": 752,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3264,
        -1104
      ],
      "typeVersion": 1,
      "id": "9c6ddf9e-d04c-483e-a46c-17b5b80c784e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields(Set Values)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields(Set Values)": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CVS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CVS": {
      "main": [
        []
      ]
    },
    "Extract from PDF": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "90db87e7-d373-4b80-ba22-3d6a3d206b2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab32984c0dbccd7427534bda582adfcebfb1fb78c42f0cfef9130fb7099f7e4c"
  },
  "id": "zoqA1d0hTuqhbmpK",
  "tags": []
}